@model DepartmentDetailsToReturnDto
@{
    ViewData["Title"] = "Delete";
	ViewBag.Action = "Delete";
}

<div class=" row justify-content-center align-content-center mt-3">
    <h1 class="col-8 my-4 text-center">Delete Department</h1>
    <form asp-controller="Department" asp-route-id="@Model.Id" asp-action="Delete"  class="col-8">

		<partial name="Partials/DeleteDetailsPartial" />
		
    </form>
</div>

