@model DepartmentDetailsToReturnDto
@{
    ViewData["Title"] = "Details";
    ViewBag.Action = "Details";
} 

<div class=" row justify-content-center align-content-center mt-3">
    <h1 class="col-8 my-4 text-center">Department Details</h1>
    <div>


        <partial name="Partials/DeleteDetailsPartial" />

        
    </div>
</div>

