@model RoleViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=" row justify-content-center align-content-center mt-3">
    <h1 class="col-8 my-4 text-center">Details of Role</h1>
</div>
<div class="row">
    <div class="form-group mb-2">
        <label class="form-label" for="Id">Id</label>
        <input id="Id" name="Id" type="text" value="@Model.Id" class="form-control" readonly />
    </div>
    <div class="form-group mb-2">
        <label class="form-label" for="Name">Name</label>
        <input id="Name" name="Name" value="@Model.Name" type="text" class="form-control" readonly />
    </div>
    <div class="mt-4 m-auto">
        <a  asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
        <a  asp-action="Index" class="btn btn-outline-dark">Back to List</a>
    </div>

</div>
</div>

