@model DepartmentDetailsToReturnDto
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="form-group mb-2">
    <label class="form-label" for="Code">Code</label>
    <input id="Code" name="Code" type="text" class="form-control" readonly value="@Model.Code" />
</div>

<div class="form-group mb-2">
    <label class="form-label" for="Name">Name</label>
    <input id="Name" name="Name" type="text" class="form-control" readonly value="@Model.Name" />
</div>

<div class="form-group mb-2">
    <label class="form-label" for="CreationDate">CreationDate</label>
    <input id="CreationDate" name="CreationDate" class="form-control" readonly value="@Model.CreationDate" />
</div>

@if (ViewBag.Action == "Details")
{
    <div class="mt-4 m-auto">
        <a asp-controller="Department" asp-route-id="@Model.Id" asp-action="Edit" class="btn btn-secondary">Edit</a>
        <a asp-controller="Department" asp-action="Index" class="btn btn-outline-dark">Back to List</a>
    </div>

}

else
{
    <div class="mt-4 m-auto">
        <input type="submit" class="btn btn-danger" value="Delete">
        <a asp-controller="Department" asp-action="Index" class="btn btn-outline-dark">Back to List</a>
    </div>

}
