@model ForgetPasswordModelView
@{
    ViewData["Title"] = "ForgetPassword";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All" class="mb-2 text-danger"></div>
		<form asp-action="SendResetPasswordURL" method="post">
			<input class="text-light email" asp-for="Email" placeholder="Enter your Email">
			<span class="text-danger" asp-validation-for="Email"></span>
			<input type="submit" value="Send">
		</form>
	</div>
</div>
@section ValidationScripts {
	<partial name="_ValidationScriptsPartial" />
}

