@model ResetPasswordModelView
@{
    ViewData["Title"] = "ResetPassword";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All" class="mb-2 text-danger"></div>
		<form asp-action="ResetPassword" method="post">
			<input class="text-light" asp-for="Password" placeholder="Enter the new Password">
			<span class="text-danger" asp-validation-for="Password"></span>
			<br />
			<input class="text-light" asp-for="ConfirmPassword" placeholder="Confirm Your Password">
			<span class="text-danger" asp-validation-for="ConfirmPassword"></span>
			<br />
			<div class="wthree-text">
			<input type="submit" value="Reset Password">
		</form>
	</div>
</div>
@section ValidationScripts {
	<partial name="_ValidationScriptsPartial" />
}

